<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.moisha.snek">


    <uses-permission android:name="android.permission.INTERNET"/>


    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/> <activity android:name="com.facebook.FacebookActivity" android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" /> <activity android:name="com.facebook.CustomTabActivity" android:exported="true"> <intent-filter> <action android:name="android.intent.action.VIEW" /> <category android:name="android.intent.category.DEFAULT" /> <category android:name="android.intent.category.BROWSABLE" /> <data android:scheme="@string/fb_login_protocol_scheme" /> </intent-filter> </activity>

        <receiver
                android:name=".notification.PushReceiver"
                android:enabled="true"
                android:exported="true"></receiver>

        <activity android:name=".activities.MainActivity">
        </activity>

        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activities.SelectUserActivity"
                android:parentActivityName=".activities.LoginActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.LoginActivity"/>
        </activity>

        <activity
                android:name=".activities.gl.EditorActivity"
                android:parentActivityName=".activities.MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.MainActivity"/>
        </activity>

        <activity android:name=".activities.forresult.SetSizeActivity">
        </activity>

        <activity
                android:name=".activities.forresult.SetNameActivity"
                android:parentActivityName=".activities.gl.EditorActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.gl.EditorActivity"/>
        </activity>

        <activity
                android:name=".activities.EditLevelActivity"
                android:parentActivityName=".activities.MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.MainActivity"/>
        </activity>


        <activity android:name=".activities.gl.GameActivity"
                  android:parentActivityName=".activities.StartGameActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.StartGameActivity"/>
        </activity>

        <activity android:name=".activities.StartGameActivity"
                  android:parentActivityName=".activities.MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.MainActivity"/>
        </activity>

        <activity android:name=".activities.gl.LevelPreviewActivity">
        </activity>

        <activity android:name=".activities.HighscoreLevelActivity"
                  android:parentActivityName=".activities.MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.MainActivity"/>
        </activity>

        <activity android:name=".activities.HighscoreListActivity"
                  android:parentActivityName=".activities.HighscoreListActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.HighscoreListActivity"/>
        </activity>

        <activity android:name=".activities.AddLevelActivity"
                  android:parentActivityName=".activities.EditLevelActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.EditLevelActivity"/>
        </activity>

    </application>

</manifest>